################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Toy_Robot_Task/v16/Server/sqlite3
